.policyCard {
  max-width: 750px;
  font-size: 11px;
}

.vertical-line {
  border-right: 1px solid #f3f4f9;
  height: max-content;
  margin-right: 10px;
}

.button-class {
  width: 100%;
}

.link-parent {
  display: flex;
}

.expand-image {
  width: 17px;
  height: 17px;
  margin-right: 2px;
}

p {
  line-height: 200%;
  font-size: smaller;
}

.container {
  grid-template-columns: 60% 40%;
}

@media screen and (max-width: 768px) {
  .policyCard {
    max-width: 400px;
  }

  .vertical-line {
    border-right: none;
  }

  .container {
    grid-template-columns: 1fr;
  }
}
